.page.landing {
	li {
		font-size: 1.1rem;
	}

	.container {
		display: table;
		margin-right: auto;
		margin-left: auto;
	}

	.bottomright {
		position: absolute;
		bottom: 1%;
		right: 1%;
		font-size: 0.8rem;
		color: Gray;
	}
}