@import "../index.scss";

.page.overview {
	.playlists, .playlistsDedup {
		display: flex;
		overflow-x: scroll;
		width: 100%;

		.entry, .entryDedup {
			cursor: pointer;
			margin: 5px;
			padding: 0.5rem 1rem;
			background: $light-black;
			width: 100px;
			min-width: 100px;
			flex-wrap: wrap;
			border-radius: 5px;

			img {
				width: 100%;
			}
		}
	}
	.playlists {
		margin-bottom: 1rem;
    }
}

.centeredText {
	width: 100%;
	text-align: center;
}

.dedupText {
	width: 100%;
	background: $light-black;
	margin: 5px;
	padding: 0.5rem 1rem;
}