// Colors

$green: rgb(30, 215, 96);
$light-black: rgb(40, 40, 40);
$black: rgb(24, 24, 24);
$grey: rgb(170, 170, 170);
$sand: rgb(200, 200, 200);
$white: rgb(255, 255, 255);
$blue: #4688d7;

// Spacing

$padding-xs: 5px;
$padding-sm: 10px;
$padding: 15px;
$padding-lg: 30px;
$padding-xl: 60px;

$margin-xs: 5px;
$margin-sm: 10px;
$margin: 15px;
$margin-lg: 30px;
$margin-xl: 60px;

// Borders

$border-radius: 15px;

// Font-sizes

$x-small: 11px;
$small: 14px;
$medium: 16px;
$large: 20px;
$x-large: 24px;
$xx-large: 36px;
$xxx-large: 52px;

// ===== Styles ==== //

body {
	background: $black;
	font-family: "Roboto", sans-serif;

	a {
		color: $grey;

		&:hover {
			color: $sand;
		}
	}
}

.tracks {
	& {
		display: flex;
		flex-flow: column wrap;
		margin-bottom: $margin;
	}

	&__heading {
		& {
			color: $grey;
			height: 42px;

			display: flex;
			flex-flow: row wrap;
			align-items: center;
		}

		&__number {
			margin-left: $margin-sm;
			font-style: italic;
		}

		&__title {
			margin-left: 70px;
			width: 45%;
			text-transform: uppercase;
			letter-spacing: 1px;
		}

		&__length {
			margin-left: auto;
			font-size: $large;
		}

		&__popularity {
			font-size: $large;
			margin-left: 55px;
			padding-right: $padding-sm;
		}
	}

	.track {
		& {
			border-top: 1px solid $light-black;
			height: 42px;
			display: flex;
			flex-flow: row wrap;
			align-items: center;
		}

		&:hover {
			background: $light-black;
		}

		&:last-child {
			border-bottom: 1px solid $light-black;
		}

		&__art {
			img {
				width: 42px;
				height: 42px;
			}
		}

		&__number {
			margin-left: $margin-sm;
			color: $grey;
			width: 12px;
		}

		&__added {
			margin-left: $margin * 2;
			color: $sand;

			.added {
				color: $sand;
			}

			.not-added {
				color: $grey;
			}
		}

		&__title {
			width: 45%;
			margin-left: $margin * 2;
			color: $white;

			&.featured {
				.title {
					&:after {
						content: "-";
						margin: 0 $margin-xs;
					}
				}

				.feature {
					color: $grey;

					&:after {
						content: ",";
						margin-right: $margin-xs;
					}

					&:last-child {
						&:after {
							content: "";
							margin-right: 0;
						}
					}

					&:hover {
						cursor: pointer;
						color: $sand;
						text-decoration: underline;
					}
				}
			}
		}

		&__explicit {
			.label {
				border: 1px;
				border-style: solid;
				border-color: lighten($light-black, 10%);
				color: lighten($light-black, 10%);
				text-transform: uppercase;
			}
		}

		&__plays {
			color: $grey;
			margin-left: auto;
			padding-right: $padding-sm;
		}

		&__length {
			margin-left: auto;
			color: $grey;
		}

		&__popularity {
			margin-left: 46px;
			padding-right: $padding-sm;
			font-size: $large;
			color: $grey;
		}
	}
}

@media (max-width: 1200px) {
	.tracks {
		&__heading {
			&__title {
				width: auto;
			}

			&__popularity {
				display: none;
			}
		}

		.track {
			&__title {
				width: auto !important;
			}

			&__explicit {
				display: none;
			}

			&__popularity {
				display: none;
			}
		}
	}
}

.album {
	&__info {
		& {
			margin-bottom: $margin;

			display: flex;
			flex-flow: row wrap;
		}

		&__art {
			img {
				width: 135px;
				height: 135px;
			}
		}

		&__meta {
			& {
				width: calc(100% - 150px);
				margin-left: $margin;

				display: flex;
				flex-flow: column wrap;
			}

			.album__year {
				color: $grey;
				letter-spacing: 1px;
			}

			.album__name {
				color: $white;
				font-size: $xx-large / 1.2;
				font-weight: 100;
			}

			.album__actions {
				margin-top: auto;

				.save {
					padding-left: $padding-lg;
					padding-right: $padding-lg;
					margin-right: $margin-sm;

					&:hover {
						border-color: $green;
					}
				}

				.more {
					width: 27px;
					height: 27px;
					border-radius: 50%;
					padding: 0;
					text-align: center;
				}
			}
		}
	}

	.track {
		&__title {
			width: 70%;
		}
	}
}

@media (max-width: 1200px) {
	.album {
		.tracks {
			.track {
				height: auto;
				padding: $padding-sm 0;
			}
		}
	}
}

::-webkit-scrollbar {
	width: 8px;
}
::-webkit-scrollbar-thumb {
	border-radius: 4px;
	background: lighten($light-black, 6%);
}

// ==== Framework ==== //

.h1 {
	font-size: 36px;
}

.h2 {
	font-size: $x-small;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-bottom: $margin-xs;
}

.red {
	color: #fc615c;

	&:hover {
		color: darken(#fc615c, 10%);
	}
}

.yellow {
	color: #fdbe41;

	&:hover {
		color: darken(#fdbe41, 10%);
	}
}

.green {
	color: #34c94a;

	&:hover {
		color: darken(#34c94a, 10%);
	}
}

button {
	border-radius: 20px;
	border: none;
	padding: $padding-xs $padding;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: $x-small;
	outline: none;

	&:hover {
		cursor: pointer;
	}
}

.button-dark {
	background: $green;
	color: $white;
	border: 1px solid $green;

	&:hover {
		background: lighten($green, 10%);
	}
}

.button-light {
	background: none;
	color: $sand;
	border: 1px solid $sand;

	&:hover {
		border-color: $white;
		color: $white;
	}
}
